* {
  padding: 0;
  margin: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
}

.logo {
  height: 100px;
}

.menu {
  display: flex;
  gap: 25px;
  list-style: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}



.pesquisa {
  height: 30px; width: 400px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
  margin-right: 30px;

  box-shadow: 0 0 0 0;
  outline: 0;
  padding: 10px;
  border-width: 1px;
  border-color: black;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
}



.cadastrar {
  background-color: black;
  color: #fff7f7;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.cadastrar a {
  color: white;
}
.carrinho{
  height: 20px;
}

/* Home */

.home{
  flex: 1;
  height: 800px; width: 100%;
}

.destaque{

  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.destaque img {
  height: 302px;
}

.parceiros{
  background-color: #fff7f7;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}

.cursos{
  background-color: #fff7f7;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  height: 150px;
  flex: 1;
  flex-direction: row;
}

/* Login */

.login{

  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 50px;
}

.login h2{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login input {
  margin-top: 10px;
  height: 40px;width: 250px;
}

.login button{
  margin-top: 3%;
  background-color: rgba(167, 44, 167, 0.795);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 50px;width: 200px;
  color: white;
  border: 0;
}

/* Produtos */

.produtos {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 50px;
}

.produtosItem {
  padding: 20px;
  background-color: rgba(167, 44, 167, 0.795);
  margin: 20px;
  border-radius: 20px;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style-type: none;
}

.produtosItem ul {
  text-decoration: none;
  list-style-type: none;
}

.produtosItem li {
  text-decoration: none;
  list-style-type: none;
}